# NetherOres
public tm.c(Lnm;)V	# EntityZombiePigman.becomeAngryAt (func_70835_c)
public tp.bp		# EntitySilverfish.allySummonCooldown (field_70843_d)
public-f aqw.cu		# Block.oreNetherQuartz (field_94342_cr)

# MFR
public ns.e		# EntityList.classToIDMapping (field_75624_e)
public ns.f		# EntityList.stringToIDMapping (field_75622_f)
public nm.ab	# Entity.rand (field_70146_Z)
public tr.a(I)V	# EntitySlime.setSlimeSize (func_70799_a)
public tv.a(I)V	# EntityZombie.startConversion (func_82228_a)
public nz.e		# EntityXPOrb.xpValue (field_70530_e)
public-f aqw.aY	# Block.ice (field_72036_aT)
public-f aqw.bv	# Block.thinGlass (field_72003_bq)

# PC Core
public awb.f # GuiScreen.mc (field_73882_e)
public awb.o # GuiScreen.fontRenderer (field_73886_k)
public awv.p # GuiContainer.guiLeft (field_74198_m)
public awv.q # GuiContainer.guiTop (field_74197_n)